@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Tai+Heritage+Pro&display=swap");
* {
  margin: 0;
  padding: 0; }

body header nav {
  box-shadow: 2px 1px 10px 4px black;
  background-color: rgba(255, 255, 255, 0.486);
  justify-content: flex-end;
  padding: 0; }

body .video {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

body {
  text-align: center; }
  body header nav {
    height: 135px; }
    body header nav div a img {
      border-radius: 100%; }
    body header nav div div ul .nav-item {
      font-size: 20px;
      padding: 0 30px; }
      body header nav div div ul .nav-item a:hover {
        border-bottom: 1px black solid; }
    body header nav div .navbar-collapse {
      justify-content: flex-end; }
  body main {
    min-height: calc(100vh - 130px - 30px); }
    body main .slogan {
      display: inline-block;
      position: relative;
      font-family: 'Parisienne', cursive;
      font-size: 60px;
      margin-top: 100px;
      color: white;
      text-shadow: 4px 8px 3px black; }
      body main .slogan::after, body main .slogan::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 5px;
        background-color: currentColor;
        top: 36px; }
      body main .slogan::before {
        left: -140px; }
      body main .slogan::after {
        right: -140px; }
    body main a .indexbtn {
      width: 700px;
      height: 100px;
      border: 1px solid black;
      animation-name: animacionbtn;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      background-color: rgba(255, 255, 255, 0.205);
      font-family: 'Parisienne', cursive;
      font-size: 50px; }
      body main a .indexbtn:hover {
        background-color: rgba(0, 0, 0, 0.315);
        color: white; }
  body footer {
    margin-top: auto;
    bottom: 0;
    width: 100%; }
    body footer .redesSociales {
      text-align: center;
      margin: 20px; }
      body footer .redesSociales a {
        margin: 35px;
        font-size: 40px;
        color: white; }
        body footer .redesSociales a:hover {
          border-bottom: 2px solid black;
          background-color: none;
          color: black; }

@keyframes animacionbtn {
  0% {
    width: 700px;
    height: 100px; }
  25% {
    width: 550px;
    height: 150px; }
  50% {
    width: 400px;
    height: 200px; }
  75% {
    width: 550px;
    height: 150px; }
  100% {
    width: 700px;
    height: 100px; } }

/* media queries */
@media (max-width: 1445px) {
  body main .slogan {
    font-size: 40px; }
    body main .slogan::after, body main .slogan::before {
      width: 80px;
      height: 2px;
      top: 25px; }
    body main .slogan::before {
      left: -90px; }
    body main .slogan::after {
      right: -90px; } }

@media (max-width: 990px) {
  body header nav div a .logo {
    width: 118px;
    height: 118px; }
  body header nav div .navbar-nav {
    align-items: flex-end; }
    body header nav div .navbar-nav .nav-item {
      width: 140px;
      background-color: rgba(255, 255, 255, 0.897);
      z-index: 1; }
  body main .slogan {
    font-size: 32px; }
    body main .slogan::after, body main .slogan::before {
      width: 60px;
      height: 2px;
      top: 25px; }
    body main .slogan::before {
      left: -70px; }
    body main .slogan::after {
      right: -70px; } }

@media (max-width: 768px) {
  body main .slogan {
    font-size: 40px; }
    body main .slogan::after, body main .slogan::before {
      width: 0;
      height: 0; }
    body main .slogan::before {
      left: 0; }
    body main .slogan::after {
      right: 0; }
  body main a .indexbtn {
    width: 380px;
    font-size: 30px; }
  body main div .col-12 {
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 20px;
    margin-top: 10px; }
  @keyframes animacionbtn {
    0% {
      width: 360px;
      height: 100px; }
    25% {
      width: 350px;
      height: 125px; }
    50% {
      width: 300px;
      height: 150px; }
    75% {
      width: 350px;
      height: 125px; }
    100% {
      width: 360px;
      height: 100px; } } }

body main .slogan2 {
  font-size: 60px;
  background-color: rgba(255, 255, 255, 0.377);
  color: black;
  margin-top: 40px;
  text-align: center;
  font-family: 'Parisienne', cursive; }

body main div .col-12 {
  color: whitesmoke; }
  body main div .col-12:hover {
    background-color: rgba(255, 255, 255, 0.562);
    color: black;
    transition: .3s;
    border-radius: 20px;
    box-shadow: 1px 4px 10px 4px black; }

body main div div div .card {
  color: black;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
  margin-bottom: 60px; }
  body main div div div .card:hover {
    transform: scale(1.02);
    box-shadow: 2px 1px 10px 4px black; }

@media (max-width: 500px) {
  body main div div div .card {
    width: 20rem; } }

body main {
  position: relative; }
  body main div div .carousel-inner {
    margin-top: 100px;
    box-shadow: 5px 6px 10px 4px black;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  body main div .infoViajes {
    background-color: rgba(255, 255, 255, 0.562);
    color: black;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px; }

@media (max-width: 990px) {
  main {
    margin-top: 100px; } }
