@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Tai+Heritage+Pro&display=swap");
* {
  margin: 0;
  padding: 0; }

body .headerI nav {
  box-shadow: 2px 1px 10px 4px black;
  background-color: rgba(255, 255, 255, 0.486);
  justify-content: flex-end;
  padding: 0; }

body .video {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

body {
  text-align: center;
  box-sizing: border-box; }
  body .headerI nav {
    height: 135px; }
    body .headerI nav div a img {
      border-radius: 100%; }
    body .headerI nav div div ul .nav-item {
      font-size: 20px;
      padding: 0 30px; }
      body .headerI nav div div ul .nav-item a:hover {
        border-bottom: 1px black solid; }
    body .headerI nav div .navbar-collapse {
      justify-content: flex-end; }
  body .mainI {
    min-height: calc(100vh - 130px - 220px); }
    body .mainI .contenedorSlogan {
      margin: auto;
      margin-top: 100px;
      width: 100%; }
      body .mainI .contenedorSlogan .slogan {
        color: whitesmoke;
        background-color: rgba(255, 255, 255, 0.048);
        position: relative;
        margin: 0 auto;
        width: 60%;
        height: 70%; }
        body .mainI .contenedorSlogan .slogan .textSlogan {
          position: absolute;
          top: 15px;
          left: 15px;
          right: 15px;
          bottom: 15px;
          padding: 30px; }
          body .mainI .contenedorSlogan .slogan .textSlogan h1 {
            font-size: 40px;
            margin: auto;
            font-family: 'Parisienne', cursive;
            text-shadow: 2px 2px 3px black; }
      body .mainI .contenedorSlogan svg,
      body .mainI .contenedorSlogan rect {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: transparent; }
      body .mainI .contenedorSlogan rect {
        stroke: white;
        stroke-width: 4;
        stroke-dasharray: 200;
        animation: animacionbtn 5s linear infinite; }
    body .mainI .boxBtn {
      display: inline-block;
      margin-top: 180px;
      background-color: rgba(255, 255, 255, 0.048);
      border: 1px solid white;
      width: 270px;
      height: 56px; }
      body .mainI .boxBtn:hover {
        transform: scale(1.05); }
      body .mainI .boxBtn .btnI {
        text-decoration: none;
        color: white;
        font-family: 'Parisienne', cursive;
        font-size: 35px;
        text-shadow: 2px 2px 3px black; }
  body .footerI {
    margin-top: auto;
    bottom: 0;
    width: 100%; }
    body .footerI .redesSociales {
      text-align: center;
      margin: 20px; }
      body .footerI .redesSociales a {
        margin: 35px;
        font-size: 40px;
        color: white; }
        body .footerI .redesSociales a:hover {
          border-bottom: 2px solid black;
          background-color: none;
          color: black; }

@keyframes animacionbtn {
  0% {
    stroke-dashoffset: 400; }
  100% {
    stroke-dashoffset: 0; } }

/* media queries */
@media (max-width: 990px) {
  body header nav div a .logo {
    width: 118px;
    height: 118px; }
  body header nav div .navbar-nav {
    align-items: flex-end; }
    body header nav div .navbar-nav .nav-item {
      width: 140px;
      background-color: rgba(255, 255, 255, 0.897);
      z-index: 1; }
  body main .contenedorSlogan .textSlogan {
    margin-top: -18px; }
    body main .contenedorSlogan .textSlogan h1 b {
      font-size: 30px; } }

@media (max-width: 635px) {
  body main .contenedorSlogan .textSlogan {
    margin-bottom: 20px; }
    body main .contenedorSlogan .textSlogan h1 b {
      font-size: 16px; } }

@media (max-width: 405px) {
  body main .contenedorSlogan .textSlogan {
    margin-top: -50px; }
    body main .contenedorSlogan .textSlogan h1 b {
      font-size: 15px; } }

body .headerN nav {
  height: 135px;
  box-shadow: 2px 1px 10px 4px black;
  background-color: rgba(255, 255, 255, 0.185);
  justify-content: flex-end;
  padding: 0; }
  body .headerN nav div a img {
    border-radius: 100%; }
  body .headerN nav div div ul .nav-item {
    font-size: 20px;
    padding: 0 30px; }
    body .headerN nav div div ul .nav-item a:hover {
      border-bottom: 1px black solid; }
  body .headerN nav div .navbar-collapse {
    justify-content: flex-end; }

body main .boxS {
  margin: 0 auto;
  width: 76%; }

body main .slogan2 {
  font-size: 60px;
  border: 1px solid black;
  color: #f3f3f3;
  background-color: rgba(0, 0, 0, 0.11);
  text-shadow: 4px 4px 5px black;
  margin-top: 40px;
  text-align: center;
  font-family: 'Parisienne', cursive;
  margin-bottom: 0;
  padding-bottom: 0; }

body main .container {
  max-width: 100%; }
  body main .container div .acordion {
    padding-top: 100px;
    padding-right: 40px;
    width: 70%; }
    body main .container div .acordion div div div {
      transition: .6s; }

body main .carrusel div div .carousel-inner {
  box-shadow: 0px 0px 20px 10px black;
  width: 56%; }
  body main .carrusel div div .carousel-inner .carousel-item {
    transition: 1s; }

body main .carrusel div div .corousel-indicators {
  flex-direction: column; }

.footerN {
  margin-top: auto;
  bottom: 0;
  width: 100%; }
  .footerN .redesSociales {
    text-align: center;
    margin: 20px; }
    .footerN .redesSociales a {
      margin: 35px;
      font-size: 40px;
      color: white; }
      .footerN .redesSociales a:hover {
        border-bottom: 2px solid black;
        background-color: none;
        color: black; }

@media (max-width: 990px) {
  body main .slogan2 {
    font-size: 46px; } }

@media (max-width: 768px) {
  body main .slogan2 {
    font-size: 35px; } }

@media (max-width: 508px) {
  body main .slogan2 {
    font-size: 25px; } }

body main .contacto {
  box-shadow: 5px 5px 2px 3px white, 10px 10px 2px 3px wheat, 15px 15px 2px 3px white, 20px 20px 2px 3px wheat;
  background-color: rgba(255, 255, 255, 0.438);
  display: inline-block;
  width: 400px;
  height: 500px;
  margin-top: 100px;
  color: black;
  font-size: 16px;
  margin-bottom: 60px; }
  body main .contacto p {
    margin-top: 30px; }
    body main .contacto p b {
      font-size: 30px;
      border-bottom: 1px solid; }

@media (max-width: 500px) {
  body main .contacto {
    font-size: 12px;
    width: 300px;
    height: 400px; }
    body main .contacto p b {
      font-size: 20px; } }

body {
  min-width: 100%; }
  body main {
    position: relative; }
    body main .infoBrc {
      color: white;
      padding: 30px 100px;
      text-shadow: 2px 4px 4px black; }
    body main .cards {
      width: 100%;
      margin-top: 100px; }
      body main .cards .card {
        background-color: rgba(0, 0, 0, 0.514);
        color: white; }
        body main .cards .card .card-body .card-title {
          font-size: 30px;
          background-color: black;
          height: 40px; }

@media (max-width: 990px) {
  main {
    margin-top: 100px; }
    main .cards {
      margin: 0 auto; } }

@media (max-width: 768px) {
  body main .infoBrc {
    font-size: 20px; } }

@media (max-width: 500px) {
  body main .infoBrc {
    font-size: 16px; }
  body main .cards {
    width: 80%; } }
