body {
    text-align: center;
    box-sizing: border-box;

    .video {
        @extend %estiloVideo;
    }

    .headerI {
        nav {
            height: 135px;
            @extend %estiloNav;

            div {
                a {
                    img {
                        border-radius: 100%;
                    }
                }

                div {
                    ul {
                        .nav-item {
                            font-size: 20px;
                            padding: 0 30px;

                            a {
                                &:hover {
                                    border-bottom: 1px black solid;
                                }
                            }
                        }
                    }
                }
            }

            div {
                .navbar-collapse {
                    justify-content: flex-end;
                }
            }
        }
    }

    .mainI {
        min-height: calc(100vh - 130px - 220px);

        .contenedorSlogan {
            margin: auto;
            margin-top: 100px;
            width: 100%;

            .slogan {
                color: whitesmoke;
                background-color: rgba(255, 255, 255, 0.048);
                position: relative;
                margin: 0 auto;
                width: 60%;
                height: 70%;

                .textSlogan {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    right: 15px;
                    bottom: 15px;
                    padding: 30px;

                    h1 {
                        font-size: 40px;
                        margin: auto;
                        font-family: 'Parisienne', cursive;
                        text-shadow: 2px 2px 3px black;
                    }
                }
            }

            svg,
            rect {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                fill: transparent;
            }

            rect {
                stroke: white;
                stroke-width: 4;
                stroke-dasharray: 200;
                animation: animacionbtn 5s linear infinite;
            }
        }

        .boxBtn {
            display: inline-block;
            margin-top: 180px;
            background-color: rgba(255, 255, 255, 0.048);
            border: 1px solid white;
            width: 270px;
            height: 56px;

            &:hover {
                transform: scale(1.05);
            }

            .btnI {
                text-decoration: none;
                color: white;
                font-family: 'Parisienne', cursive;
                font-size: 35px;
                text-shadow: 2px 2px 3px black;
            }
        }
    }

    .footerI {
        margin-top: auto;
        bottom: 0;
        width: 100%;

        .redesSociales {
            text-align: center;
            margin: 20px;

            a {
                margin: 35px;
                font-size: 40px;
                color: $colorfooter;

                &:hover {
                    border-bottom: 2px solid black;
                    @include btn-color(none, black);
                }
            }
        }
    }
}


@keyframes animacionbtn {
    0% {
        stroke-dashoffset: 400;
    }

    100% {
        stroke-dashoffset: 0;
    }
}


/* media queries */
@media (max-width: 990px) {
    body {
        header {
            nav {
                div {
                    a {
                        .logo {
                            width: 118px;
                            height: 118px;
                        }
                    }

                    .navbar-nav {
                        align-items: flex-end;

                        .nav-item {
                            width: 140px;
                            background-color: rgba(255, 255, 255, 0.897);
                            z-index: 1;
                        }
                    }
                }

            }
        }

        main {
            .contenedorSlogan {
                .textSlogan {
                    margin-top: -18px;
                    h1 {
                        b {
                            font-size: 30px;
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 635px) {
    body {
        main {
            .contenedorSlogan {
                .textSlogan {
                    margin-bottom: 20px;
                    h1 {
                        b {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 405px) {
    body {
        main {
            .contenedorSlogan {
                .textSlogan {
                    margin-top: -50px;
                    h1 {
                        b {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}