body {
    text-align: center;

    .video {
        @extend %estiloVideo;
    }

    .headerI {
        nav {
            height: 135px;
            @extend %estiloNav;

            div {
                a {
                    img {
                        border-radius: 100%;
                    }
                }

                div {
                    ul {
                        .nav-item {
                            font-size: 20px;
                            padding: 0 30px;

                            a {
                                &:hover {
                                    border-bottom: 1px black solid;
                                }
                            }
                        }
                    }
                }
            }

            div {
                .navbar-collapse {
                    justify-content: flex-end;
                }
            }
        }
    }

    main {
        min-height: calc(100vh - 130px - 30px);

        .slogan {
            display: inline-block;
            position: relative;
            font-family: 'Parisienne', cursive;
            font-size: 60px;
            margin-top: 100px;
            color: white;
            text-shadow: 4px 8px 3px black;

            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 120px;
                height: 5px;
                background-color: currentColor;
                top: 36px;
            }

            &::before {
                left: -140px;
            }

            &::after {
                right: -140px;
            }
        }

        a {
            .indexbtn {
                width: 700px;
                height: 100px;
                border: 1px solid black;
                animation-name: animacionbtn;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                background-color: rgba(255, 255, 255, 0.205);
                font-family: 'Parisienne', cursive;
                font-size: 50px;

                &:hover {
                    @include btn-color(rgba(0, 0, 0, 0.315), white)
                }
            }
        }
    }

    .footerI {
        margin-top: auto;
        bottom: 0;
        width: 100%;

        .redesSociales {
            text-align: center;
            margin: 20px;

            a {
                margin: 35px;
                font-size: 40px;
                color: $colorfooter;

                &:hover {
                    border-bottom: 2px solid black;
                    @include btn-color(none, black);
                }
            }
        }
    }
}


@keyframes animacionbtn {
    0% {
        width: 700px;
        height: 100px;
    }

    25% {
        width: 550px;
        height: 150px;
    }

    50% {
        width: 400px;
        height: 200px;
    }

    75% {
        width: 550px;
        height: 150px;
    }

    100% {
        width: 700px;
        height: 100px;
    }
}


/* media queries */
@media (max-width: 1445px) {
    body {
        main {
            .slogan {
                font-size: 40px;

                &::after,
                &::before {
                    width: 80px;
                    height: 2px;
                    top: 25px;
                }

                &::before {
                    left: -90px;
                }

                &::after {
                    right: -90px;
                }
            }
        }
    }
}

@media (max-width: 990px) {
    body {
        header{
            nav{
                div{
                    a{
                        .logo{
                            width: 118px;
                            height: 118px;
                        }
                    }
                    .navbar-nav{
                        align-items: flex-end;
                        .nav-item{
                            width: 140px;
                            background-color: rgba(255, 255, 255, 0.897);
                            z-index: 1;
                        }
                    }
                }

            }
        }
        main {
            .slogan {
                font-size: 32px;

                &::after,
                &::before {
                    width: 60px;
                    height: 2px;
                    top: 25px;
                }

                &::before {
                    left: -70px;
                }

                &::after {
                    right: -70px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        main {
            .slogan {
                font-size: 40px;

                &::after,
                &::before {
                    width: 0;
                    height: 0;
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }
            }

            a {
                .indexbtn {
                    width: 380px;
                    font-size: 30px;
                }
            }
            div{
                .col-12{
                    background-color: rgba(0, 0, 0, 0.486);
                    border-radius: 20px;
                    margin-top: 10px;
                }
            }
        }
       
    }


    @keyframes animacionbtn {
        0% {
            width: 360px;
            height: 100px;
        }

        25% {
            width: 350px;
            height: 125px;
        }

        50% {
            width: 300px;
            height: 150px;
        }

        75% {
            width: 350px;
            height: 125px;
        }

        100% {
            width: 360px;
            height: 100px;
        }
    }
}