body {
    main {
        .slogan2{
            font-size: 60px;
            @include btn-color(rgba(255, 255, 255, 0.377), black);
            margin-top: 40px;
            text-align: center;
            font-family: 'Parisienne', cursive;
        }
        div {
            .col-12 {
                color: whitesmoke;
                &:hover {
                    @include btn-color(rgba(255, 255, 255, 0.562), black);
                    transition: .3s;
                    border-radius: 20px;
                    box-shadow: 1px 4px 10px 4px black;
                }
            }
        }
    }
}