body {
    main {
        div {
            div {
                div {
                    .card {
                        flex-direction: column;
                        margin-left: auto;
                        margin-right: auto;
                        width: 25rem;

                        &:hover {
                            transform: scale(1.02);
                            box-shadow: 2px 1px 10px 4px black;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    body {
        main {
            div {
                div {
                    div {
                        .card {
                            width: 20rem;
                        }
                    }
                }
            }
        }
    }
}